<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{habit?.title}}</ion-title>
    <ion-buttons slot="start">
      <!-- <ion-back-button [defaultHref]="defaultHref"></ion-back-button> -->
    </ion-buttons>
    <ion-buttons slot="end">
      <!-- <ion-button (click)="toggleFavorite()">
        <ion-icon *ngIf="!isFavorite" slot="icon-only" name="star-outline"></ion-icon>
        <ion-icon *ngIf="isFavorite" slot="icon-only" name="star"></ion-icon>
      </ion-button>
      <ion-button (click)="shareSession()">
        <ion-icon slot="icon-only" name="share"></ion-icon>
      </ion-button> -->
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true" *ngIf="habit">

  <ion-text *ngIf="habit">
    <ion-img [src]="habit?.urlImg"></ion-img>
    <p>{{habit?.description}}</p>
    <p>You started at: {{habit?.createdAt | date}}</p>
  </ion-text>
  <ion-list #scheduleList>
    <ion-item-group *ngFor="let publication of habit.publicationIds">
      <!-- TODO: Create categories for habits and assign them to a track in scss -->
      <ion-item-sliding
        #slidingItem
        [attr.track]="'publication' | lowercase"
        (click)="renderPublicationImg(publication)"
      >
        <ion-item routerLink="/app/tabs/publications/{{publication._id}}">
          <ion-label>
            <h3>{{publication.title | date}}</h3>
            <p>
              <!-- {{session.timeStart}} &mdash; {{session.timeEnd}}: {{session.location}} -->
              {{publication.description}}
            </p>
          </ion-label>
        </ion-item>
      </ion-item-sliding>
    </ion-item-group>
  </ion-list>
</ion-content>
